<!--
    @description Document Center Component
    @author Ranjeet
-->
<template>
    <div class="slds-box utilities-tab-container">
        <div class="slds-grid slds-wrap">
            <template for:each={documentLinks} for:item="docDetail">
                <div key={docDetail.Id} class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12 slds-p-around_small">
                    <div class="utility-item-container">
                        <div class="utility-item-heading">
                            <span class="utility-item-heading-content">
                                <strong>{docDetail.Document_Heading__c}</strong>
                            </span>
                        </div>
                        <br/>
                        <div class="utility-item-description">
                            {docDetail.Document_Description__c}
                        </div>
                        <br/>
                        <div class="utility-item-action-button">
                            <lightning-button variant="brand" 
                                                label={docDetail.Document_Button_Label__c} 
                                                title={docDetail.Document_Button_Label__c} 
                                                data-link={docDetail.Document_Link__c}
                                                onclick={redirectToDocumentLink}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>