.utilities-tab-container{
    background: white;
}

.utility-item-container {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.2rem;
    text-align: center;
    background: #0b28f51c;
}

.utility-item-heading-content {
    font-size: 1.4em;
}

.utility-item-description {
    min-height: 50px;
    text-align: center;
}